<!-- MADE BY JSMSJ#5252 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drives</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <style>
        .list-group-item:hover{
            text-decoration: underline;
            color:rgb(172, 172, 172);
            /* background-color: rgba(0, 0, 0, 0.253); */
        }
    </style>
</head>
<body class="bg-dark text-white">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #02233b;">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/">
            <img src="/static/assets/guild_icon.gif" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
            Guild Name
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li> -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Drives
                </a>
                <ul class="dropdown-menu">
                    {% for name,id in shared_drives.items() %}
                    <li>
                        <a href="/viewdrives/{{ id }}" class="dropdown-item">{{ name }}</a>
                    </li>
                    {% endfor %}
                  <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="/logout">Logout</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> -->
            </ul>
            <form class="d-flex" role="search" method="POST" action="{{ url_for('search') }}">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
              {{ form.hidden_tag() }}
              <button class="btn btn-dark" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>


    <br>
    <br>
    <div class="container-md">

    <h4 class="h4 text-center">
        Index of / drives /
        {% for i in parents %}
            <a href="/viewdrives/{{ i[1] }}" class="list-group-item" style="display:inline;">{{ i[0] }}</a>
            /
        {% endfor %}
    </h4>
    <br>
    <br>

    <table class="table text-white">
        <thead>
          <tr>
            <th scope="col">File Name</th>
            <th scope="col" class="text-end">Flie Size</th>
            <th scope="col" class="text-end">Date</th>
            <th scope="col" class="text-end">Drive Link</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="/static/assets/folder.png" alt="Logo" width="22" height="22">
                    <a href="{{ parent_directory }}" class="list-group-item" style="display: inline;">Parent Directory/</a>
                </td>
                <td class="text-end">-</td>
                <td class="text-end">-</td>
                <td class="text-end">-</td>
            </tr>
            {% for name,details in files.items() %}

                <tr>
                {% if details['mime type'] == 'application/vnd.google-apps.folder' %}
                    <td>
                        <img src="/static/assets/folder.png" alt="Logo" width="22" height="22">
                        <a href="/viewdrives/{{ details['id'] }}" class="list-group-item" style="display: inline;">{{ name }}/</a>
                    </td>
                {% else %}
                    <td>
                        <img src="/static/assets/file.png" alt="Logo" width="22" height="22">
                        <a href="#" class="list-group-item" style="display: inline;">{{ name }}</a>
                    </td>
                {% endif %}
                
                <td class="text-end">
                    {% if details['size_h'] == "" %}
                        -
                    {% else %}
                        {{ details['size_h'] }}
                    {% endif %}
                </td>
                <td class="text-end"> {{ details['last modified'] }} </td>

                {% if details['mime type'] == 'application/vnd.google-apps.folder' %}
                    <td class="text-end">
                        <a href="https://drive.google.com/drive/folders/{{ details['id'] }}"  class="list-group-item" style="display: inline;" target="_blank" rel="noopener noreferrer">
                            <img src="/static/assets/link.png" alt="Logo" width="22" height="22">
                        </a>
                    </td>
                {% else %}
                    <td class="text-end">
                        <a href="https://drive.google.com/file/d/{{ details['id'] }}/view"  class="list-group-item" style="display: inline;" target="_blank" rel="noopener noreferrer">
                            <img src="/static/assets/link.png" alt="Logo" width="22" height="22">
                        </a>
                    </td>
                {% endif %}

                </tr>
            {% endfor %}
          
        </tbody>
      </table>
      </div>






    <br>
    <div class="container-md text-center">

      <br>
      <br>
      <hr>
      <code>Vercel.app is a nice site</code>

    </div>
    <!-- <a href="/logout" class="btn btn-primary" role="button">Logout</a> -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>

</body>
</html>